@charset "utf-8";

/*視窗背景色設定*/
body {
  background-color: rgb(0, 0, 0);
}
.entrybtns {
    position: absolute;
    top: 30px;
    right: 20px;

}
.entrybtns input {
    /* 文字颜色 */
    color: #bb8ce1; 
    /* 清除背景色 */
    background: transparent; 
    /* 边框样式、颜色、宽度 */
    border: 2px solid #bb8ce1;
    /* 给边框添加圆角 */
    border-radius: 6px; 
    /* 字母转大写 */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
/* 悬停样式 */
.entrybtns input:hover {
    background-color: #bb8ce1;
    color: white;
}
/*連結顏色設定*/
a {
  color: #5d54b5;
}
a:hover {
  color: #e2542d;
  text-decoration: none;
}

/*頁首,導覽,頁尾的共通設定*/
header,nav,footer {
  text-align: center;
}
.ooo {
  text-align: center;
}

/*導覽樣式設定*/
.stroke{
  color: transparent;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.04em;
  background-color: }

/*頁面標題設定*/
h1 {
  color: #ff0000;
  margin-left: 50px;
  font-size: 300%;
  text-align: left;
}

/*次標題設定*/
h2 {
  padding: 10px;
  text-align: left;
  margin-bottom: 30px;
  border: 1px dotted #351b85;
  border-left: 10px solid #9480d3;
  color: #624caf;
}


/*小標題設定*/
.h-sub {
  font-weight: lighter;
}

/*內容區塊邊框設定*/
#contents {
  margin: 40px;
  padding: 40px 80px;
  border: 1px solid #563791;
  background-color: #fff;
}



/*「更多介紹」連結設定*/
.more {
  text-align: right;
}

/*連結圖示設定*/


/*區塊間分隔*/
#contents > section + section {
  margin-top: 20%;
}

/*文繞圖設定*/

footer{
  color: #fff;
}
/*圓形圖片設定*/
.centered-section {
  text-align: center; /* 水平置中 */
}

#pic a {
  display: inline-block; /* 使 <a> 元素成為行內區塊，以便垂直居中 */
  margin: 0 10px; /* 調整圖片之間的水平間距 */
}

#pic img {
  vertical-align: middle; /* 垂直居中圖片 */
}



.mp3-section {
  text-align: center; /* 水平置中 */
}

#mp3 a {
  display: inline-block; /* 使 <a> 元素成為行內區塊，以便垂直居中 */
  margin: 0 10px; /* 調整圖片之間的水平間距 */
}

#mp3 img {
  vertical-align: middle; /* 垂直居中圖片 */
}

