@charset "utf-8";
.entrybtns {
    position: absolute;
    top: 30px;
    right: 20px;
}
.entrybtns input {
      
    /* 文字颜色 */
    color: #bb8ce1; 
    /* 清除背景色 */
    background: transparent; 
    /* 边框样式、颜色、宽度 */
    border: 2px solid #bb8ce1;
    /* 给边框添加圆角 */
    border-radius: 6px; 
    /* 字母转大写 */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
/* 悬停样式 */
.entrybtns input:hover {
    background-color: #bb8ce1;
    color: white;
}
.imgcent{ position:relative; }
.imgcent img { position:absolute; top:0; right:0; left:0; bottom:0; margin:auto; }
body {
    
    background-color:black;
}

h1 {
    text-align: left;
    font-size: 300%;
    color: rgb(255, 255, 255);
}
.bigtitle {
    text-align: center;
}
h2 {
    font-size: 250%;
    color: rgb(255, 255, 255);
}
h3 {
    font-size: 150%;
    color: rgb(255, 255, 255);
}
a {
    color:rgb(255, 255, 255);
  }
  a:hover {
    color: #e2542d;
    text-decoration: none;
  }
  .imgL {
    float: left;
    margin-right: 20px;
  }
  .clear {
    clear: both;
  }
  .ppp {
    
    color: #fff;
    text-align: left;
    font-size: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
     
  }
   #profile {
        text-align: left;
        width: 60%;
        white-space: nowrap;
        margin: 0 auto; /
      }
  #contents > section + section {
    margin-top: 100%;
  }
  iframe {
    left: 30%;right: 70%;
  }
#winter {
    text-align: center;

}
footer {
    color: #fff;
    text-align: center;
}